// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.user1{
    background-image:url("saboten.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 970px;
    
}

body.user2{
    background-image:url("saboten.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 970px;

}

body.user3{
    background-image:url("saboten.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 970px;
}

body.user4{
    background-image:url("saboten.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1300px;
}

body.user5{
    background-image:url("saboten.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 970px;
}